@import './general.scss';


/* || ABOUT */

.about {
  padding: 1rem 1.5rem;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  border: var(--BORDER-DEV);
}

@media (min-width: 700px) {
  .about {
    flex-direction: row-reverse;
  }
  .aboutArticle {
    padding-right: 2rem;
  }
  .aboutCape {
    padding-bottom: 2rem;
  }
}

.aboutFig {
  border: var(--BORDER-DEV-BLUE);

  flex-basis: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutImg {
  border: var(--BORDER-DEV-GOLD);
  /* max-width: 500px; */

}

.aboutArticle {
  border: var(--BORDER-DEV-BLUE);

  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}

.aboutCape {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.aboutH2 {
  border: var(--BORDER-DEV-GOLD);

  padding: 1rem;
  padding-top: 3rem;
  /* border-bottom: 2px solid black; */
  margin-bottom: 2rem;
  text-align: center;
  /* font-size: 3.5dvh; */
  /* justify-content: flex-end; */
}

..curvedTextContainer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: blue;
  /* float: right; */
}

.curvedTextContainer::before {
  content: '';
  width: 100%;
  height: 100%;
  shape-outside: circle(50% at 50% 50%);
  /* background-color: red; */
  float: left;
}

.curvedText {
  shape-inside: initial;
  margin: 10px;
}

.aboutP {
  border: var(--BORDER-DEV-GOLD);

  line-height: max(3vw, 2);
  font-size: var(--FS-P);
  /* font-size: max(16px, min(4vw, 22px)); */
  /* font-size: 2rem; */
}

.aboutArt {
  padding-bottom: 4rem;
}

@media (max-width: 1024px) {
  .about {

  }
  .aboutFig, .aboutArticle {
    flex-basis: 100%;
  }
  .aboutImg {
    /* padding-bottom: 3rem; */
  }
}

@media (min-width: 1024px) {
  .about {
    padding: var(--PADDING-SIDE-FULLSCREEN);
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .aboutH2 {
    margin-top: 6rem;
    padding-bottom: 0;
  }
}

@media (min-width: 769px) {
  .about {
    font-size: large;
  }
}

@media (max-width: 500px) {
  .aboutH2 {
    font-size: 6vw;
    /* border: 2px blue dashed; */
  }
}
