@import './general.scss';

/* || ART */

.art {
  border: var(--BORDER-DEV);

  padding: var(--PADDING-SIDE-FULLSCREEN);
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.artH2 {
  border: var(--BORDER-DEV-BLUE);

}

.artContainer {
  border: var(--BORDER-DEV-BLUE);


  /* max-height: 100vh; */
}

.artItemm {
  border: var(--BORDER-DEV-PURPLE);

  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.artItemFig {
  border: var(--BORDER-DEV);

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}

.artItemImgContainer {
  border: var(--BORDER-DEV-BLUE);

  /* flex-basis: 50%; */
}

.artImg {


  /* max-width: 900px; */
  /* max-height: 50vh; */
  /* margin-right: var(--PADDING-SIDE); */
}

.artItemParagraph {
  border: var(--BORDER-DEV-GREEN);

  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.artItemTitle {
  flex: 1;

}

.artItemYear {

}

.artItemCaption {
  border: var(--BORDER-DEV);

  flex-basis: 20%;
  font-size: var(--FS-H1);
}

.artItemDescription {
  border: var(--BORDER-DEV);

  flex-basis: 80%;
  font-size: var(--FS-P);
}

.artTitleDiv {

  /* padding-top: .5rem; */
}

.artContainer {
  columns: 14rem auto;

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1600px; */
  /* justify-content: flex-start; */
}

.art > p {
  border: var(--BORDER-DEV-GOLD);
  padding-top: min(3rem, 10vh);
  padding-bottom: 1rem;
}

.artItem {
  /* flex-basis: calc(20%); */
  /* margin-right: 10px; */
  /* box-sizing: border-box; */
  /* min-width: 200px; */

  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* flex-direction: column; */
  position: relative;
  margin-bottom: 1rem;

  border: var(--BORDER-DEV-GOLD);
}

.artTitleDiv {
  padding: 0.5rem;
  color: var(--BGCOLOR);
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.70);
  opacity: 0;
  transition: opacity 0.3s;
}

.artItem:hover .artTitleDiv {
  opacity: 1;
}

.artImg {
  width: 100%;
}


@media (max-width: 800px) {
  .art {
    display: flex;
    max-width: 100vw;
    padding: var(--PADDING-SMALL)
  }
  .artItemFig {
    /* max-height: 100vh; */
  }
  .artItemImgContainer, .artItemParagraph {
    /* flex-shrink: 1; */
    flex-basis: 100%;
    padding: 0;
  }
  .artH2 {
    visibility: hidden;
    position: absolute;
  }
  .artItem:first-child {
    /* padding-top: 3rem; */
  }
}

/* 383 */

@media (max-width: 419px) {
  .artTitleDivv {
    opacity: 1;
    position: inherit;
    background-color: black;
  }
  .artItem {
    margin-bottom: 2rem;
    position: relative;
  }
}

@media (max-width: 501px) {
  .artContainer {
    columns: 12rem auto;
  }
}

@media (hover: none) {
  .artTitleDiv {
    opacity: 1;
    position: inherit;
    background-color: black;
  }
}

.insta {
  /* font-size: small; */
  font-style: italic;
  text-align: center;
  color: var(--LIGHTERDARKGRAY) !important;  /* needs the important due to a:any-link set to black */
  flex: 2;
}
