@import './general.scss';


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 22s;

// ANIMATION

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-300px * 6))}
}

// Styling
.slider {
	// background: white;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  // padding-top: 2rem;
	height: 300px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100;

	&::before,
	&::after {
		// @include white-gradient;
		content: "";
		height: 300px;
		position: absolute;
		width: auto;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slideTrack {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(300px * 12);
	}

  // .slideTrack:hover {
  //   animation: scroll 32s linear infinite;
  // }

	.slide {
		height: 300px;
		// width: 250px;

    img {
      padding-left: 2rem;
      height: 300px;
      width: auto;
    }
	}
}


/* OLD */

.carousell {
  overflow: hidden;
  width: 100%;
  /* position: relative; */
}

.carouselProject {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.carouselItemArt {
  flex: 0 0 100%;
  box-sizing: border-box;
  background-color: black;
}

.carouselTitle {
  text-align: center;
}
