@import './general.scss';

:root {

/* IMG SIZES */
--IMG1: 200px;
--IMG2: 300px;
--IMG3: ;
--IMG4: ;
--IMG5: ;
--IMG6: ;
--IMG7: ;
--IMG8: ;
--IMG9: ;
}



#slider {
  height: 300px;
  border: var(--BORDER-DEV-GOLD);
  overflow: hidden;
}

#slider ul {
  height: inherit;
  border: var(--BORDER-DEV-GREEN);
  display: flex;
  overflow: hidden;
  list-style: outside none none;
}

#slider ul:after {
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  /* width: 100%; */
  height: 100px;
  /* width: auto; */
  object-fit: cover;

}

.img1 {
  left: -120px;
}
.img2 {
  left: 20px;
}
.img3 {
  left: 120px;
}
.img4 {
  left: 240px;
}
.img5 {
  left: 360px;
}
.img6 {
  left: 480px;
}
.img7 {
  left: 600px;
}
.img8 {
  left: 720px;
}
.img9 {
  left: 840px;
  /* list-style: none; */
}

/* .img4 {
  left: 240px;
} */

.animation {
  animation: 9s linear 1s infinite running cycle1; /* small delay added for image to be loaded, this can be ignored if image is preloaded */
}
@keyframes cycle1 {
  0% {
    left: -400px;
    opacity: 0;
  }
  0.01% {
    left: -400px;
    opacity: 1;
  }
  99.99% {
    left: 100vw; /* total distance to be covered to be same as width of the dummy wrapper */
    opacity: 1;
  }
  100% {
    left: -400px;
    opacity: 0;
  }
}

.animation[class*='img'] {
  left: -100px;
}
.animation.img1 {
  animation-delay: 2s;
}
.animation.img2 {
  animation-delay: 3s;
}
.animation.img3 {
  animation-delay: 4s;
}
.animation.img4 {
  animation-delay: 5s;
}
.animation.img5 {
  animation-delay: 6s;
}
.animation.img6 {
  animation-delay: 7s;
}
.animation.img7 {
  animation-delay: 8s;
}
.animation.img8 {
  animation-delay: 9s;
}
