@import './general.scss';


/* || CONTACT */

.contact {
  border: var(--BORDER-DEV);

  padding: var(--PADDING-SIDE-FULLSCREEN);
  /* margin-top: 4rem; */
}

.contactH2 {
  border: var(--BORDER-DEV-BLUE);

  padding: 2rem 0;
}

.contactForm {
  border: var(--BORDER-DEV-BLUE);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.contactFieldset {
  border: var(--BORDER-DEV-GOLD);
  display: flex;
  flex-direction: column;
}

.contactP {
  border: var(--BORDER-DEV-PURPLE);
  padding-top: 1.5rem;
  flex-grow: 1;

  /* display: flex;
  flex-direction: column; */
}

.contactLabel {
  letter-spacing: 0.2rem;
  font-weight: 500;
  /* margin-bottom: 2rem; */
  text-transform: uppercase;
  /* padding-top: 4rem; */
}

.getInTouch {
  padding: 3vh 0 2rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-top: 2px black solid
}

.contactInput {
  border: var(--BORDER-DEV);
  /* margin-top: 0.5rem; */
}

.contactTextArea, .contactInput, .contactButton {
  margin-top: 0.5rem;
  border-radius: 1rem;
  border-style: none;
  padding: 1rem;
  width: 100%;

  border: var(--BORDER-DEV-GREEN);
}

.contactTextArea {
  /* border: var(--BORDER-DEV-GREEN); */
}

.contactButton {
  margin-top: 1rem;
  background-color:#D2B670;
  font-family: var(--FF-ROB);
  font-weight: 400;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: .3s ease background-color;
}

.contactButton:hover {
  background-color: goldenrod;
}

.optional {
  font-size: small;
  color:#D2B670;
  text-align: end;
}

@media (max-width: 800px) {
  .contact {
    padding: var(--PADDING-SMALL);
    text-align: center;
  }
  .contactTextArea {
    min-width: 100%;
    min-height: 100px;
    resize: vertical;
  }
}

#status {
  padding: .75rem;
  border-radius: 1rem;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

#status.success {
  background-color: rgb(189, 219, 183);
  animation: status 3s ease forwards;
  color: ;
}

#status.error {
  background-color: rgb(235, 170, 152);
  animation: status 3s ease forwards;
  color: ;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  75% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
