/* || FONT IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Encode+Sans+Semi+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,500&family=Fahkwang:ital,wght@0,200;0,300;0,400;1,300&family=Genos:wght@300&family=Syne:wght@400;500;600;700;800&family=Tsukimi+Rounded&display=swap');

/* family=DM+Sans:opsz,wght@9..40,300&family=Roboto:wght@300&family=Syne:wght@400;500;600&family=Tektur:wght@500&display=swap') */

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit
}

.body,
body,
form,
input,
button {
  border: none;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
figure,
ol,
ul,
dl,
li,
dd,
dt,
fieldset,
legend,
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF-ROB: 'Roboto', sans-serif;
  --FF-SYNE: 'Syne', sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FS-P: clamp(16px, 4vw, 22px);
  --FS-H3: clamp(18px, 4.5vw, 24px);
  --FS-H1: clamp(28px, 6vw, 36px);
  --FS-H2: clamp(22px, 5vw, 28px);
  --FS-H2-MOBILE: clamp(25px, 5vw, 28px);

  /* COLORS */
  --BGCOLOR: #FCF9F5;
  /* --BGCOLOR: oldlace; */
  --BGCOLOR-NAV: oldlace;
  --TEXTCOLOR: black;
  --TEXTCOLOR-LIGHT: var(--TACHA);

  --DARK: #330033;
  --SPRINGWOOD: #F4F2EA;
  --SPRINGWOOD2: #dedcd2;
  --TACHA: #D2B670;
  --AUCHICO: #9E655C;
  --CHOCOLATE: #42333C;
  --CODGRAY: #191919;
  --DARKGRAY: #595959;
  --LIGHTERDARKGRAY: rgb(130, 130, 130);

  /* BORDERS */
  // --BORDER-DEV-PURPLE: 2px dashed purple;
  // --BORDER-DEV: 2px solid black;
  // --BORDER-DEV-BLUE: 2px dashed blue;
  // --BORDER-DEV-GOLD: 2px solid gold;
  // --BORDER-DEV-GREEN: 4px dotted green;

  /* STANDARD PADDING */
  --PADDING-NAV-TB: 1em;
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;
  --PADDING-LINK: 0.5rem 1rem;
  --PADDING-SIDE-FULLSCREEN: 5rem;
  --PADDING-SMALL: 1.25rem 1.5rem;
  --PADDING-SMALL-PROJECTS: 1.25rem 1.5rem 0rem 1.5rem;
  --PADDING-SMALL-TALL: 4rem 1.5rem;
  /* padding: ; */

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

  /* OTHER */
  --BORDER-RAD: 5px;

}


@media (prefers-color-scheme: dark) {
  :root {}
}

/* || UTILITY CLASSES */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.comingSoon {
  /* font-family: var(--FF-ROB); */
  font-size: small;
  font-style: italic;
  text-align: center;
  color: var(--LIGHTERDARKGRAY);
  flex: 2;
}

.roboto {
  /* font-family: var(--FF-ROB); */
}

.overflowHidden {
  overflow: hidden;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  /* font-size: var(--FS); */
  font-family: var(--FF-SYNE);
  background-color: var(--BGCOLOR);
}

.body {
  flex: 1;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
}

.body.navOpen {
  position: fixed;
}

/* .about, .work, .project, .art, .contact */

@media (max-width: 600px) {
  .body {
    /* padding: 0 var(--PADDING-SIDE); */
  }
}

nav {
  max-width: 100vw;
  top: 0;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: var(--FF-SYNE);
  font-weight: 800;
}

h1,
h2 {
  letter-spacing: 0.1em;
}

a:any-link {
  text-decoration: none;
  color: var(--TEXTCOLOR);
}

a:hover,
a:focus-visible {
  /* text-decoration: underline; */
  // color: ;
}

p a:any-link {
  color: var(--AUCHICO);
  /* font-weight: 700; */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* @counter-style emptyFirst {
  system: fixed;
  symbols: '' '' ''
} */



/* || WEBKITS */

::-webkit-input-placeholder {
  color: lightgray;
  font-style: italic;
}
:-moz-placeholder {
  color: lightgray;
  font-style: italic;
}
::-moz-placeholder {
  color: lightgray;
  font-style: italic;
}
:-ms-input-placeholder {
  color: lightgray;
  font-style: italic;
}



/* || IMAGE LOADING */

a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
}

a.progressive img.preview {
  filter: blur(2vw);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: opacity;
  animation: reveal 1s ease-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.App :has(.mobileNav.active)+.body {
  display: none !important;
}

.reveal div {
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active div {
  transform: translateY(0px);
  opacity: 1;
}
