@import './general.scss';


/* || NAV */

.App.navOpen {
  /* overflow: hidden; */
  position: fixed;
  /* margin-right: 15px; */
}

.navbar {
  background-color: var(--BGCOLOR);
  padding: var(--PADDING-NAV-TB) var(--PADDING-SIDE);
  z-index: 200;
}

@media (max-width: 620px) {
  .navbar {
    display: none;
  }
}

.navbarContainer {
  border: var(--BORDER-DEV);

  display: flex;
  box-sizing: border-box;
  max-width: 1170px;
  position: relative;
  margin: auto;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  justify-content: space-around;
  align-items: center;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbarMain {
  color: black;
  display: flex;
  flex-basis: 2;
  align-items: center;
  justify-content: center;
  white-space: normal;
  text-align: center;
  padding: 0 1rem;
}

.navbarItem {
  justify-content: center;
  display: flex;
  padding: 0 1rem;
  flex-wrap: nowrap;
  white-space: nowrap;

  /* width: 70px; */
}

/* || MOBILE NAV */

.mobileNavWrapper {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--BGCOLOR);
  /* padding-bottom: 1rem; */

  /* border: var(--BORDER-DEV); */
}

.mobileNavWrapper.navOpen {
  position: fixed;
}

.mobileNavHeader {
  background-color: var(--BGCOLOR);
  position: relative;
  z-index: 1001;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: var(--MARGIN); */
  padding: 1rem 1.5rem;
  /* flex-wrap: nowrap; */

  border: var(--BORDER-DEV-GOLD);
}

.mobileNavHeader {
  justify-content: end;
}

.mobileNavHamOne {
  left: calc(1.5rem);
  flex-basis: 15%;
  /* position: absolute; */

  border: var(--BORDER-DEV-GREEN);
}

.mobileNavHamTwo {
  flex-basis: 15%;
  text-align: end;
  transition: transform 1s ease-in-out;
  transform: translateX(-200%);

  border: var(--BORDER-DEV-GREEN);
}

.slideOut {
  transition: transform 1s ease-in-out;
  transform: translateX(0%);
}

.mobileNavMain {
  flex: 1;

  border: var(--BORDER-DEV-BLUE);
}

.mobileNavMain:hover {
  /* flex: 0 1 15%; */
  transition: transform 1s ease-in-out;
  transform: translateX(10em);


}

.dropMain:hover {
  color: var(--AUCHICO)
}

.tofill {
  flex-grow: 3;

  border: var(--BORDER-DEV);
}

.hamTwin {
  flex-basis: 15%;

  border: var(--BORDER-DEV-GREEN)
}

.hamTwin.final {
  flex-basis: 0;
}


.capemonn {
  display: flex;
  align-items: center;
  transition: flex 1.5s;
  justify-content: center;
  flex-basis: 100%;

  border: var(--BORDER-DEV-BLUE);
}

.capemonn h4 {

}

.capemonn.final {
  /* flex-grow: 1; */
  flex-basis: 15%;
}

.capemonn h4 > span >span {
  opacity: 1;
  letter-spacing: normal;
  transition: opacity 0.5s, letter-spacing 0.75s, text-align 1s;
}

@keyframes pushApart {
  0% {
    opacity: 1;
    letter-spacing: normal;
  }
  50% {
    opacity: 0;
    letter-spacing: normal;
  }
  100% {
    opacity: 0;
    letter-spacing: -1em;
    /* text-align: end; */
  }
}

@keyframes bringTogether {
  0% {
    opacity: 0;
    letter-spacing: -1em;
    /* text-align: end; */
  }
  50% {
    opacity: 0;
    letter-spacing: normal;
  }
  100% {
    opacity: 1;
    letter-spacing: normal;
  }
}

@keyframes slide {
  from {
    text-align: end;
  }
  to {
    text-align: center;
  }
}

.capemonn.initial h4 > span > span {
  animation: bringTogether 1s ease-in-out forwards;
}

.capemonn.intiall {
  animation: slide 1s ease-in-out;
  animation-delay: 1s;
}

.capemonn.final h4 > span > span {
  animation: pushApart 1s ease-in-out forwards;
}

.capemonn.finall {
  animation: slide 2s ease-in-out reverse;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.mobileNav {
  display: none;
  z-index: 1000;
  height: 100vh !important;
  position: fixed;
  width: 100vw;
  background-color: var(--BGCOLOR);
  padding: 0 1.5rem;
  transform: translateY(-110%);
  transition: transform 0.5s ease-in-out;

  border: var(--BORDER-DEV-BLUE);
}

.mobileNav.active {
  transition: transform 0.8s ease-in-out;
  transform: translateY(0%);
}

@media (max-width: 620px) {
  .mobileNav {
    display: flex;
    flex-direction: column;
  }
  .mobileNavWrapper {
    display: block;
  }
}

.mobileNavUl {
  border: var(--BORDER-DEV-GREEN);

  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  list-style: none;
  width: 100%;
  height: 50vh;
}

.mobileNavLi {
  border: var(--BORDER-DEV-BLUE);

  font-size: 5vw;
  flex-grow: 1;
  height: 100%;
}

.mobileNavLink {
  border: var(--BORDER-DEV-GOLD);
  font-size: 5vw;
  /* border-bottom: 1px solid black; */
}

.mobileNavLink:hover {
  border-bottom: 2px solid var(--AUCHICO);
  color: var(--AUCHICO)
}

.mobileNavSocials {
  border: var(--BORDER-DEV-BLUE);

  display: flex;
  flex-basis: 100%;
  margin: var(--MARGIN);
  border-top: 2px solid black;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 55%;
}

.socials {
  font-size: 1.25rem;

  border: var(--BORDER-DEV-GOLD);
}

.socials:hover {
  color: var(--AUCHICO);
}
