@import './general.scss';

.pagination {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-top: 4.5rem;
}

.paginationSubHeader {

}

.backLink {
  display: flex;
  flex-direction: column;
}

.cm {

}

.forwardLink {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
