@import './general.scss';

/* || PopUP */

.popUpContainer {
  display: flex;
  z-index: 201;
  position: fixed;
  right: 0px;
  bottom: 20px;
  max-width: 350px;
  min-width: 280px;
  top: auto;
  left: auto;
  background-color: var(--SPRINGWOOD2);
  border-top-left-radius: 200px;
  justify-content: center;

  visibility: hidden;
  animation: appear 1.2s ease-in 3s forwards;
}

@keyframes appear {
  0% {
    bottom: -250px;
    visibility: hidden;
  }
  /* 85% {
    bottom: 0px;
    visibility: visible;
  } */
  /* 50% {
    bottom: -200px;
    visibility: visible;
  } */
  100% {
    bottom: 0px;
    visibility: visible;
  }
}

.popUp {
  padding: 2rem;
  /* width: 85%; */
  text-align: end;
}

.popUpClose {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: transparent;
  font-weight: 800;
  font-size: larger;
  color: black;
  cursor: pointer;
}

.popUpClose:hover {
  color: var(--AUCHICO);
}

.popUp p {
  padding-top: 1rem;
}

.popUp h3 {
  text-align: end;
  padding-top: 2rem;
}

.popUp h3 span:first-child {
  font-size: larger;
  /* font-weight: ; */
}

.popUp h3 span:last-child {
  font-size: medium;
}

/* @media (max-width: 900px) {
  .popUpContainer {
    right: 20px;
    bottom: 20px;
  }
} */
