@import './general.scss';


/* || PROJECT GRID */

.projectGrid {
  padding: 0 1.5rem;
  /* max-width: 1300px; */
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;

}

.projectGridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;

  /* border: 1px solid blue; */
}

.projectBox {
  width: calc(50% - 2.5%);
  /* padding-bottom: 100%; */
  position: relative;
  box-sizing: border-box;
  margin-bottom: 5%;
  aspect-ratio: 1;
  background-size: cover;
  opacity: 1;

  /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); */
  /* transform-style: preserve-3d; */
}

.projectBoxImgContainer {
  width: 100%;
  /* aspect-ratio: 1; */
  /* height: 100%; */
  /* padding-bottom: 100%; */
  position: relative;
  overflow :hidden;
  object-fit: scale-down;
}

.projectBoxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectBoxTitleDiv {
  width: 100%;
  height: 100%;
  opacity: 0;
  /* background-color: #8a733e; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: background-color .2s, opacity .4s;
  padding: 0 1rem;
}

.projectBoxTitle {
  color: ghostwhite;
  text-align: center;
  text-transform: uppercase;
}

.projectBoxTitleDiv:hover {
  opacity: 1;
  /* background-color: #8a733ec2; */
}

@media (min-width: 1024px) {
  .projectGrid {
    padding: 0 var(--PADDING-SIDE-FULLSCREEN);
  }
  .projectBox {
    width: calc(33% - 2%);
    margin-bottom: 4%;
  }
  .projectGridContainer {
    margin-bottom: 2rem;
  }
}

@media (max-width: 501px) {
  .projectBox {
    width: 100%;
  }
}


/* || CAROUSEL */

.carousel {
  border: var(--BORDER-DEV-GREEN);
}

.carouselButton {
  border: var(--BORDER-DEV-GOLD);
}

.carouselGroup {
  border: var(--BORDER-DEV-GOLD);
}


/* || PROJECTS */

.project, .ProjectList {
  border: var(--BORDER-DEV);

  display: flex;
  flex-direction: column;
  padding: var(--PADDING-SIDE-FULLSCREEN);
  /* margin-top: 0.5rem; */
}

.ProjectList {
  position: relative;
  animation: dropDown 0.75s ease-in-out forwards;
}

@keyframes dropDown {
  0% {
    top: -400px;
  }
  100% {
    top: 0px;
  }
}

.projectListSpan {
  font-size: xxx-large;
  padding-right: 20px;
}

.projectH2 {
  border: var(--BORDER-DEV-BLUE);
}

.projectP {
  border: var(--BORDER-DEV-BLUE);
}

.projectContainerMain {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border: var(--BORDER-DEV-BLUE);

  /* height: 85vh; */
}
.projectUl {
  border: var(--BORDER-DEV-GREEN);

  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.projectLi {
  padding-top: 1.25rem;
  font-size: 5vw;
  flex-grow: 1;
  height: 100%;
}

.projectImgGrid {
  display: flex;
  flex-direction: column;
}

.projectItem {
  border: var(--BORDER-DEV-GOLD)
}

.projectItemImg {
  border: var(--BORDER-DEV-PURPLE)
}

.projectItemInfo {
  border: var(--BORDER-DEV-PURPLE)
}

.projectItemTitle {
  border: var(--BORDER-DEV-GREEN);

  font-size-adjust: calc();
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;

  display: none;
}

.projectItemTitleMobile {
  border: var(--BORDER-DEV-GREEN);

  font-size-adjust: calc();
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--DARKGRAY);
}

.projectItemDescription {
  border: var(--BORDER-DEV-GREEN);

  padding-bottom: 1rem;
}

.projectItemHref {
  border: var(--BORDER-DEV-GREEN);

  padding-bottom: 3rem;
  /* font-family: var(--FF-ROB); */
  font-style: italic;
  font-size: small;
  font-weight: 300;
  color: var(--DARKGRAY) !important;
}

.projectItemHref span {
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
}

.divImgMain {
  /* padding: 0rem 0rem 2rem 0rem; */


  border: var(--BORDER-DEV);
}

.divRestMain {
  display: flex;
  flex-direction: column;

  border: var(--BORDER-DEV);
}

.divImg {
  padding: 0.75rem 0rem;

}

.projectImg {
  padding-bottom: 2rem;
  border-radius: 0px;
  /* max-height: 80vh; */
}

.techYear {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

}

.techStack {
  flex-basis: 40%;
  text-align: end;
}

.techYear p:first-child {
  font-weight: 700;
  font-size: medium;
  font-size: max(1vw, 18px);
}

.techYear p:last-child {
  font-size: max(1vw, 16px);
  font-family: var(--FF-ROB);
  font-weight: bold;
  color: var(--DARKGRAY);

}

.projectItemDescription {
  font-size: max(1.7vw, 18px);
  font-family: var(--FF-ROB);
  font-weight: bold;
  color: var(--DARKGRAY);
  /* padding-top: min(); */
}

.homePage {

}

.homePage, .aboutPage, .darkTheme, .mobile {
  padding-top: 1.5rem;

}

.aboutPage {

}

.darkTheme {

}

.mobile {

}

.imgHeader {
  font-size: max(1.5vw, 16px)
}

@media (min-width: 1400px) {
  .projectImgGrid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .homePage, .aboutPage, .darkTheme, .mobile {
    max-width: 47%;
  }
  .aboutPage, .mobile {
    /* padding-left: 1rem; */
  }
}

@media (min-width: 1000px) {
  .projectContainerMain {
    display: flex;
    flex-direction: row;
  }
  .divImgMain {
    padding-right: 2rem;
    max-width: 60vw;
  }
  .divRestMain {
    width: max(30vw, 50%);
    /* width: 50%; */
  }
  .projectItemTitleMobile {
    display: none;
  }
  .projectItemTitle {
    display: flex;
  }
}

@media (max-width: 800px) {
  .project, .ProjectList {
    padding: var(--PADDING-SMALL-PROJECTS);
  }
  .projectItemTitle {
    font-size: 6vw;
  }
}
