@import './general.scss';


/* || WORK/RESUME */

/* .workContainer { */
  /* padding: var(--PADDING-SIDE-FULLSCREEN); */
  /* background-color: var(--AUCHICO); */
/* } */

.resume {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100vw;
}

.work, .education, .skills {
  border: var(--BORDER-DEV);


  padding: var(--PADDING-SIDE-FULLSCREEN);
  /* margin-top: 2rem; */
}

.work {
}

.workH2 {
  border: var(--BORDER-DEV-BLUE);
}

.resumeItem {
  border: var(--BORDER-DEV-BLUE);

  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;

}

.resumeItemCol {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.resumeItemP {
  border: var(--BORDER-DEV-GOLD);

  display: flex;
  flex-direction: row;
}

.resumeItemYear {
  border: var(--BORDER-DEV-PURPLE);

  flex-shrink: 1;
  text-align: end;
  flex-basis: 25%;
}

.resumeItemTitle {
  border: var(--BORDER-DEV-PURPLE);
  font-weight: 700 !important;

  /* flex-basis: 75%; */
}

.resumeItemSubTitle {
  color: var(--LIGHTERDARKGRAY);
  font-weight: 500;
}

.workItemDuration {
  border: var(--BORDER-DEV-PURPLE);
}

.resumeItemDetails {
  border: var(--BORDER-DEV-GREEN);

  padding-top: .5rem;
  padding-right: 10%;
  color: var(--LIGHTERDARKGRAY);
  font-family: var(--FF-ROB);
  font-weight: 300;
}

.skills {

}

.skillList {
  border: var(--BORDER-DEV-PURPLE);

  list-style: none;
  color: var(--LIGHTERDARKGRAY);
  /* font-weight: 500; */
  /* columns: 2; */
  padding-top: 0.25rem;
}

@media (min-width: 900px) {
  .skillList {
    columns: 2;
  }
}

@media (max-width: 899px) and (min-width: 740px) {
  .skillList div {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* width: 100%; */
    /* justify-content: space-evenly; */
    padding-left: 1rem;
    /* gap: 30px; */
  }
  .skillList {
    list-style-type: none;
  }
  .skillList div li:not(:first-child)::before {
    content: '|';
    padding: 1.25rem;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .work, .education, .skills {
    padding: var(--PADDING-SMALL-TALL);
  }
}


@media (min-width: 1300px) {
  .resume h3 {
    font-size: 1.2vw;
  }

  .work {
    /* display: flex; */
    /* flex-direction: column; */
    flex-basis: calc(100% / 3);

  }
  .work, .education, .skills {
    font-size: 1.2vw;
    padding: 2rem;
    flex-grow: 1;
  }
  .resumeDiv2 {
    display: flex;
    flex-direction: row;
    flex-basis: calc(100% * (2 / 3));
  }
  .resume {
    flex-direction: row;
    width: 100%;
    padding: 0 4rem;
  }
  .education, .skills {
    flex-basis: calc(100% / 2);
  }
  .resumeItem {
    padding-top: 3vh;
  }
}

@media (max-width: 1300px) and (min-width: 900px) {
  .work, .education, .skills {
    padding: var(--PADDING-SMALL);
  }
  .work {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2);
    justify-content: space-between;
  }
  .resume {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  .resumeDiv2 {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2);
  }
  .resumeItem {
    padding-top: 3vh;
  }
  .work {
    padding-right: 4rem;
    border-right: 2px solid black
  }
  .education {
    padding-left: 4rem;
  }
  .education {
    padding-bottom: 2rem;
  }
  .skills {
    padding-top: 2rem;
    border-top: 2px solid black;
    margin-left: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 1300px) {
/* @media (max-width: 1440px) and (min-width: 1300px) { */
  .work, .education, .skills {
    padding: var(--PADDING-SMALL);
    padding-top: 3.5rem;
    font-size: 1.2vw;
    /* background-color: aqua; */
  }
  .work, .education {
    padding-right: 4rem;
  }
  .education, .skills {
    padding-left: 4rem;
  }
  .skills h3 {
    /* padding-top: 1rem; */
  }
  .skills:first-child {
    padding-top: 0rem;
  }
  .work, .education {
    border-right: 2px black solid;
  }
}

@media (max-width: 375px) {
  .work, .education, .skills {
    font-size: 4vw;
  }
  .work, .education {
    /* border-bottom: 2px solid black; */
  }
}
