





/* || FOOTER */

.footer {
  flex-shrink: 0;

  border: var(--BORDER-DEV);

  text-transform: uppercase;
  font-size: small;
  color: lightgrey;
  margin-top: 0.5rem;
  padding: 1rem var(--PADDING-SIDE);
  text-align: center;
}

.footerP {

}

@media (max-width: 800px) {
  .footer {
    font-size: x-small;
    color: lightgrey;
  }
}
