/* || For Cape Monn Link */

.capemonn h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.capemonn h4 span {
  opacity: 1;
  letter-spacing: normal;
  transition: opacity 0.5s, letter-spacing 0.5s;
}

.capemonn h4 .final {
  opacity: 0;
  letter-spacing: -0.1em; /* Adjust the value as needed for spacing */
}

.capemonn h4 .initial {
  opacity: 1;
  letter-spacing: normal;
}

@keyframes bringTogether {
  0% {
    opacity: 0;
    letter-spacing: -0.1em; /* Adjust the value as needed for spacing */
  }
  100% {
    opacity: 1;
    letter-spacing: normal;
  }
}

.capemonn h4 .visible {
  animation: bringTogether 2s ease-in-out forwards;
}



/* || For Cape Monn Link */

.capemonn h4 > span {
  opacity: 100;
  transition: opacity 0.4s;
}

.capemonn h4 {

}

.capemonn.fadePush h4 > span {
  opacity: 0;
  transition: opacity 0.5s;
  /* letter-spacing: normal;
  transition: letter-spacing 0.5s; */
}

.capemonn.fadePush h4 > span.pushed {
  letter-spacing: -1em;
  transition: letter-spacing 1s;
  /* transition-delay: 0.2s; */
}



/* ||||| */




.about {
  max-height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutFig {
  /* flex: 1 1 50%; */
  /* display: flex; */
  /* padding: .5rem; */
  /* justify-content: flex-end; */
  /* max-width: 100%; */
  /* max-height: 100%; */
}

.aboutImg {
  align-items: center;
  justify-content: center;
  flex: 1 1 600px;


  /* display: block; */
  /* align-items: center;
  max-width: 100%;
  max-height: 90%;
  object-fit: cover; */

}

.aboutArticle {
  /* max-width: 400px; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* flex-basis: auto; */
  justify-content: center;
  /* align-items: first baseline; */

  flex: 1 1 600px;

}

.aboutH2 {
  margin-bottom: 1rem;
}

.aboutP {
  /* line-height: ; */
}

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    /* align-items: center; */
  }
  .aboutFig, .aboutArticle {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    justify-content: center;
  }
  .aboutImg {
    /* width: 80%; */
  }
}
