<div className='App'>
  <div>
    <div className="'mobileNavWrapper">
      <div className="mobileNav active">

      </div>
    </div>
  </div>
  <div className="body">
    <div className="art">
      //art stuff
    </div>
  </div>
</div>
